<script src="/assets/owl/dist/owl.carousel.js"></script>
<script src="/assets/owl/dist/owl.carousel.min.js"></script>

<!-- carousel -->
<section class="head">
  <div id="carouselExampleIndicators" class="carousel slide w-100" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item carousel-image-div active">
        <img class="img-fluid zoom-in-carousel" src="/assets/image/four.jfif" width="100%" alt="First slide" />

        <div class="carousel-caption d-none d-md-block text-left">
          <div class="col-lg-6 bg-white p-3">
            <h2><strong class="default-color-red tshadow">A Destination For The New Millennium.</strong></h2>
          </div>
        </div>
      </div>
      <div class="carousel-item carousel-image-div">
        <img class="img-fluid zoom-in-carousel" src="/assets/image/three.jfif" width="100%" alt="Second slide" />
        <div class="carousel-caption d-none d-md-block text-left">
          <div class="col-lg-6 bg-white p-3">
            <h2><strong class="default-color-red tshadow">Adventure Awaits, </strong></h2>
            <h2><strong class="default-color tshadow">Go Find It.</strong></h2>
          </div>
        </div>
      </div>
      <div class="carousel-item carousel-image-div">
        <img class="img-fluid zoom-in-carousel" src="/assets/image/two.jfif" width="100%" alt="Third slide" />
        <div class="carousel-caption d-none d-md-block text-left">
          <div class="col-lg-6 bg-white p-3">
            <h2><strong class="default-color tshadow">Big Agency Deals Small Agency Feel.</strong></h2>
          </div>
        </div>
      </div>
      <div class="carousel-item carousel-image-div">
        <img class="img-fluid zoom-in-carousel" src="/assets/image/one.jfif" width="100%" alt="Fourth slide" />
        <div class="carousel-caption d-none d-md-block text-left">
          <div class="col-lg-6 bg-white p-3">
            <h2><strong class="default-color tshadow">Caring Your Hobbies.</strong></h2>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</section>

<!-- search form -->
<%- include('partials/search-form'); %>

  <!-- moto -->
  <section class="container-fluid border-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 border-right py-3 ">
          <div class="row moto-div">
            <div class="col-lg-4 moto-icon mx-auto">
              <i class="fas fa-hotel"></i>
            </div>
            <div class="col-lg-12 ml-5">
              <small>Discover Pure Comfort</small> <br />
              <small>More than just hotels...</small>
            </div>
          </div>
        </div>
        <div class="col-lg-3 border-right  py-3 ">
          <div class="row moto-div">
            <div class="col-lg-4 moto-icon mx-auto">
              <i class="fas fa-check"></i>
            </div>
            <div class="col-lg-12 ml-5">
              <small>The Best Selection</small> <br />
              <small>450+ options world wide.</small>
            </div>
          </div>
        </div>
        <div class="col-lg-3 border-right  py-3 ">
          <div class="row moto-div">
            <div class="col-lg-4 moto-icon mx-auto">
              <i class="fas fa-dollar-sign"></i>
            </div>
            <div class="col-lg-12 ml-5">
              <small>Lowest Price</small><br />
              <small>We guarantee it!</small>
            </div>
          </div>
        </div>
        <div class="col-lg-3 py-3 ">
          <div class="row moto-div">
            <div class=" moto-icon mx-auto">
              <i class="fas fa-shopping-cart"></i>
            </div>
            <div class="col-lg-12 ml-5">
              <small>Fast & Easy Booking</small><br />
              <small>Book online to lock in your tickets.</small>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- Destinations -->
  <section class="container pb-5  bg-light">
    <span class="text-secondary p-5 text-center">
      <h2 class="text-dark title ">Popular Destinations</h2>
      <p>Top destinations in the world. Best places to travel in 2020. <br>
        20 selected destinations have just competed for the prestigious title of Best Destinations 2020</p>
    </span>
    <div class="row">
      <!-- row-1 -->


      <div class="col-lg-8 deal-img-div image-lg mb-2">
        <span class="message"><b class="">BEST DEALS</b></span>
        <img src="/assets/image/london.jpg" alt="" class="image">
        <div class="box-content p-4 text-light">
          <p class="text-color-white">London </p>
          <h3 class="text-color-white">United kingdom</h3>
        </div>
        <div class="middle">
          <div class="default-color mb-2">
            <h5>London</h5>
          </div>
          <a href="/hotel/search?location=london" class="text mt-2 ">Find More</a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row ">
          <div class="col-lg-12 deal-img-div  image-sm mb-2">
            <span class="message"><b class="">BEST DEALS</b></span>
            <img src="/assets/image/germany.png" alt="" class="image">
            <div class="box-content p-4 text-light">
              <p class="text-color-white">Frankfurt </p>
              <h3 class="text-color-white">Germany</h3>
            </div>
            <div class="middle">
              <div class="default-color mb-2">
                <h5>Germany</h5>
              </div>
              <a href="/hotel/search?location=Germany" class="text mt-2 ">Find More</a>
            </div>
          </div>
          <div class="col-lg-12  deal-img-div image-sm mb-2">
            <span class="message"><b class="">BEST DEALS</b></span>
            <img src="/assets/image/france.jpg" alt="" style="width: 110%;">
            <div class="box-content p-4 text-light">
              <p class="text-color-white">Paris </p>
              <h3 class="text-color-white">France</h3>
            </div>
            <div class="middle">
              <div class="default-color mb-2">
                <h5>France</h5>
              </div>
              <a href="/hotel/search?location=France" class="text mt-2 ">Find More</a>

            </div>
          </div>
        </div>
      </div>

      <!-- row-2 -->
      <div class="col-lg-4 deal-img-div image-md">
        <span class="message"><b class="">BEST DEALS</b></span>
        <img src="/assets/image/italy.jpg" style="width: 110%;" alt="">
        <div class="box-content p-4 text-light">
          <p class="text-color-white">Rome </p>
          <h3 class="text-color-white">Italy</h3>
        </div>
        <div class="middle">
          <div class="default-color mb-2">
            <h5>Italy</h5>
          </div>
          <a href="/hotel/search?location=Italy" class="text mt-2 ">Find More</a>

        </div>
      </div>

      <div class="col-lg-4 deal-img-div  image-md">
        <span class="message"><b class="">BEST DEALS</b></span>
        <img src="/assets/image/singapore.png" alt="" class="image">
        <div class="box-content p-4 text-light">
          <p class="text-color-white">Singapore </p>
          <h3 class="text-color-white">Singapore</h3>
        </div>
        <div class="middle">
          <div class="default-color mb-2">
            <h5>Singapore</h5>
          </div>
          <a href="/hotel/search?location=Singapore" class="text mt-2 ">Find More</a>

        </div>
      </div>

      <div class="col-lg-4 deal-img-div  image-md">
        <span class="message"><b class="">BEST DEALS</b></span>
        <img src="/assets/image/sydney.png" alt="" class="image">
        <div class="box-content p-4 text-light">
          <p class="text-color-white">Sydney </p>
          <h3 class="text-color-white">Australia</h3>
        </div>
        <div class="middle">
          <div class="default-color mb-2">
            <h5>Australia</h5>
          </div>
          <a href="/hotel/search?location=Australia" class="text mt-2 ">Find More</a>

        </div>
      </div>
    </div>

  </section>

  <section class="impact overflow-hidden">
    <div class="container-fluid p-5">
      <div class="row align-items-center justify-content-center p-5 text-center sm-p-5">
        <div class="col-lg-2 col-md-2 col-sm-2 col-5 p-5 mx-auto impact-card right-to-left has-animation">
          <div class="row">
            <div class="col-lg-12 p-0">
              <i class="fas fa-hotel fa-3x"></i>
            </div>
            <div class="col-lg-12 p-0 mt-3">
              <small>Partner Hotels</small>
            </div>
          </div>
          <div class="impact-caption">
            <h2>2k+</h2>
          </div>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-2 col-5 p-5 mx-auto impact-card left-to-right has-animation">
          <div class="row">
            <div class="col-lg-12 p-0">
              <i class="fas fa-plane  fa-3x"></i>
            </div>
            <div class="col-lg-12 p-0 mt-3">
              <small>Holiday Destinations</small>
            </div>
          </div>
          <div class="impact-caption">
            <h2>1999+</h2>
          </div>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-2 col-5 p-5 mx-auto impact-card right-to-left has-animation sm-mt-10">
          <div class="row">
            <div class="col-lg-12 p-0">
              <i class="fas fa-search-location  fa-3x"></i>
            </div>
            <div class="col-lg-12 p-0 mt-3">
              <small>Daily Search</small>
            </div>
          </div>
          <div class="impact-caption">
            <h2>5000+</h2>
          </div>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-2 col-5 p-5 mx-auto impact-card left-to-right has-animation sm-mt-10">
          <div class="row">
            <div class="col-lg-12 p-0">
              <i class="fas fa-heart fa-3x"></i>
            </div>
            <div class="col-lg-12 p-0 mt-3">
              <small>Recommended</small>
            </div>
          </div>
          <div class="impact-caption">
            <h2>100%</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- 
  <% var counter=1; %>
  <% testimonial.forEach((t)=>{ %>
    <div class="carousel-item <% if(counter==1){ %> active <% } %>">
      <p class="sm-p-5 my-auto testimonial-text">
        <%= t.testimonial %>
      </p>
      <p>
        <%= t.name %>
      </p>
      <small>Grade: <%= t.grade %></small>
    </div>
    <% counter++; %>
      <% }); %> -->

  <% if(testimonial!="" ){ %>
    <section class="testimonial">
      <div class="container p-5">
        <span class="text-secondary  text-center">
          <h2 class=" text-dark title p-0 m-2">Niharika Reviews</h2>
          <p>Stories from our happy customers</p>
        </span>
        <div class="row">

          <% var counter=1; %>
            <% testimonial.forEach((t)=>{ %>
              <div class="col-lg-6 mx-auto  my-2">
                <div class="row mx-auto p-2 default-bg-color   rounded shadow">
                  <div class="col-lg-4 d-flex align-items-center justify-content-center">
                    <img src="/assets/image/singapore.png" class="shadow"
                      style="border-radius: 50%; height: 100px !important; width: 100px !important;" alt="testimonial">
                  </div>
                  <div class="col-lg-8 py-4 pl-0">
                    <p class="w-100  d-flex align-items-start justify-content-start">
                      &quot; <%= t.testimonial %> &quot;
                    </p>
                    <small class="d-flex align-items-start justify-content-start">

                      <%= t.name %>,
                        <i class="fas fa-map-marker-alt ml-2 mr-1"></i>
                        <%= t.location %>

                    </small>

                  </div>
                </div>
              </div>
              <% }); %>


        </div>

      </div>
    </section>
    <% } %>

      <!-- image slider -->
      <% if(insta!="" ){ %>
        <section class="py-5 gallery">
          <span class="text-secondary text-center">
            <h2 class=" text-dark title">Hassle-free Holidays</h2>

            <p>24x7 On-trip Assistance & Transparent Pricing on niharika.com! Best Deals Guaranteed. Free Quote.</p>
            <p>24*7 On-Trip Assistance. 5 Million Happy Customers. Special Early-Bird Offer. Great Itineraries.</p>
            <p>Customised Itineraries. India's No.1 Travel Site.</p>
          </span>

          <div class="owl-carousel owl-theme mt-3 w-100  ">
            <% insta.forEach((g)=>{ %>

              <div class="card shadow-sm rounded" style="width: 18rem;">
                <a target="_blank" href="<%= g.link %>">

                  <img class="card-img-top rounded" src="/assets/image/uploads/o_<%= g.image %>" alt="Card image cap">
                </a>

              </div>

              <% }); %>
          </div>
        </section>
        <% } %>

          <script>
            $("#nav-home").addClass("active");

            // Carousel js
            var owl = $(".owl-carousel");
            owl.owlCarousel({
              items: 3,
              loop: true,
              margin: 10,
              merge: true,
              autoplay: true,
              autoplayTimeout: 2000,
              autoplayHoverPause: true,
              responsive: {
                0: {
                  items: 1,
                },
                500: {
                  items: 2,
                  nav: false,
                },
                700: {
                  items: 3,
                  nav: false,
                },
                1000: {
                  items: 5,
                },
              },
            });

          </script>
