<!-- Begin Page Content -->
<div class="container-fluid">


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary float-left">
                <%= heading %>
            </h6>

            <a href="/admin/flight/bookings" class="btn btn-success float-right"> View Bookings </a>
        </div>
        <div class="card-body">
            <%- include('../../partials/messages'); %>

                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Airline</th>
                                <th>Departure</th>
                                <th>Departure date</th>
                                <th>Arrival</th>
                                <th>Arrival date</th>
                                <th>Available seats</th>
                                <th>Price</th>
                                <th>Added On</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Airline</th>
                                <th>Departure</th>
                                <th>Departure date</th>
                                <th>Arrival</th>
                                <th>Arrival date</th>
                                <th>Available seats</th>
                                <th>Price</th>
                                <th>Added On</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <% var counter=1; %>
                                    <% data.forEach(function(d){ %>
                            <tr>
                                <td>
                                    <%= counter %>
                                </td>
                                <td>
                                    <%= d.airline.name %><img src="/assets/image/uploads/o_<%= d.airline.image %>"
                                            width="100px" alt=" <%= d.airline.name %>">
                                </td>
                                <td>
                                    <%= d.departure %>
                                </td>
                                <td>
                                    <%= d.departure_date %>
                                </td>
                                <td>
                                    <%= d.arrival %>
                                </td>
                                <td>
                                    <%= d.arrival_date %>
                                </td>
                                <td>
                                    <%= d.available_seats %>
                                </td>
                                <td>
                                    <%= d.price %>
                                </td>

                                <td>
                                    <%= d.addedOn %>
                                </td>
                                <td>
                                    <form action="/admin/flight/delete" method="POST">
                                        <a href="/admin/flight/edit/<%= d._id %>" class="btn btn-warning"><i
                                                class="fas fa-edit"></i></a>
                                        <input type="text" name="image_name" value="<%= d.image %>" hidden />
                                        <button class="btn btn-danger" value="<%= d._id %>" name="e_id"><i
                                                class="fas fa-trash"></i></button>
                                    </form>
                                </td>
                            </tr>
                            <% counter++; %>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
<script>
    $("#nav-flight").addClass("active");
</script>
